.gitignore

# Editor temporary files
*~
*.swp

# Extensions
*.o
*.lo
*.la
*.expand
*.pyc

# Hidden directories
.deps
.dirstamp
.libs

# Autotools
aclocal.m4
autom4te.cache
config.cache
/config.h
/config.h.in
/stamp-h1
/config.log
/config.site
/config.status
/configure
/libtool
Makefile
Makefile.in
src/**/am--include-marker

# Executable
/src/ddcutil

# Experimental API implementations
*.typelib
*.gir

# Eclipse
.settings/
.autotools
.cproject
.project

# Doxygen output 
doxydoc/html
doxydoc/latex
doxydoc/apidoc
