*~
Debug/
oldsrc/
.tmp
temp*
perf.data
*.o
.deps
.dirstamp
aclocal.m4
autom4te.cache
autoscan.log
build-config2
config.cache
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config.h
/config.h.in
/config.log
/config.lt
/config.site
/config.status
/config.status.lineno
/configure
/configure.lineno
/configure.scan
/install.sh
/libtool
Makefile
Makefile.in
/src/ddctool
stamp-h1