*~
Debug/
oldsrc/
build-debug/
.tmp
temp*
perf.data
*.o
*.lo
*.la
.deps
.dirstamp
aclocal.m4
autom4te.cache
autoscan.log
build-config2
configure
config.cache
/config/
/config.h
/config.h.in
/config.log
/config.lt
/config.site
/config.status
/config.status.lineno
/configure
/configure.lineno
/configure.scan
/install.sh
/libtool
Makefile
Makefile.in
/src/ddctool
/src/laclient
/src/fixit
stamp-h1
m4/
src/.libs
/fedora_gcc_paths.txt
/ubuntu_gcc_paths.txt
monitors/