#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@  --with autotools-dev

override_dh_auto_install:
	dh_auto_install
	@echo "Deleting license file, per Debian policy"
	find . -name COPYING -delete

override_dh_auto_configure:
	dh_auto_configure -- --enable-lib=no --enable-drm=yes --enable-usb=yes 
